<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css-bootstrap/signin.css">
    <link rel="stylesheet" href="/css-bootstrap/bootstrap.min.css">
    <title>Password Reset | gamma </title>
  </head>

  <body style="background-color:#BBB;">

    <div class="container">
      <div id="branding" style="text-align:center">
        <h2>Please enter your email address</h2>
      </div>
      <form class="form-signin" role="form" method="post">
        <input type="email" name="resetAddress" class="form-control" placeholder="Email Address" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="notify_sent()">Send New Password</button>
      </form>
    </div> 
    <!-- /container -->
    <script>

    </script>
  </body>
</html>
